@import "sanitize"
@import "helpers"
@import "fonts"

// VARIABLES

$gutter = 18px
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-basic = 34px
$font-leading-basic = 1.4em
$font-tracking-basic = 0.03em

$color-black = rgb(25,25,25)
$color-white = rgb(255,255,255)

// TYPOGRAPHY

body
  font-family: 'Fantasque Sans Mono', monospace
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  text-align: justify

p
  margin-bottom: 1em


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-black
  color: $color-white
  overflow-x: hidden

.container
  max-width: 1200px
  box-sizing: border-box
  padding: $margin-small

img
  max-width: 100%
  height: auto

#bottom-pad
  height: $font-leading-basic


// LIST

li.list-option
  list-style-position: inside
  list-style-type: square


// FORM

input[type="text"]
  text-transform: uppercase
  width: 100%

  &:focus
    outline: none

.touch
  input[type="text"]
    border: 1px solid $color-white
    padding: 5px



input[type="submit"]
  display: none


// CONVERSATION FORM

.conversation

  #custom-form
    text-transform: uppercase

    input[type="radio"]
      opacity: 0
      width: 0
      height: 0

    label:before
      content: '>'
      padding: 0 5px
      opacity: 0

    input[type="radio"]:checked + label:before
      opacity: 1

  #input-form
    display: none

// MEDIA QUERIES

@media screen and (min-width: 1800px)

  $gutter = 36px
  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-basic = 32px
  $font-leading-basic = 1.4em
  $font-tracking-basic = 0.035em

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  .container
    max-width: 1650px
    padding: $margin-small


@media screen and (max-width: 1400px)

  $gutter = 18px
  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-basic = 22px
  $font-leading-basic = 1.4em
  $font-tracking-basic = 0.03em

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  .container
    max-width: 1000px
    padding: $margin-small


@media screen and (max-width: 1280px)

  $gutter = 18px
  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-basic = 20px
  $font-leading-basic = 1.4em
  $font-tracking-basic = 0.03em

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  .container
    max-width: 900px
    padding: $margin-small

@media screen and (max-width: 600px)

  $gutter = 16px
  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  $font-size-basic = 18px
  $font-leading-basic = 1.4em
  $font-tracking-basic = 0.03em

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  .container
    max-width: 900px
    padding: $margin-small
