@import "sanitize"
@import "helpers"

// VARIABLES

$gutter = 18px
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-basic = $gutter
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black = rgb(0,0,0)
$color-white = rgb(255,255,255)
 
// TYPOGRAPHY

body
  font-family: 'Fantasque Sans Mono', monospace
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  text-align: justify

h1
  font-size: 3em

h2
  font-size: 2em

h3
  font-size: 1.5em

p
  margin-bottom: 1em


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-black
  color: $color-white
  overflow-x: hidden
  
.container
  width: 80%
  margin-left: $margin-small
  padding-top: $margin-small

img
  max-width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

// HEADER

#header
  width: 100%

// POSTS LOOP
#posts
  width: 100%

.post
  width: 100%

#pagination
  width: 100%
  
// FORM
input[type="text"],
input[type="submit"]
  height: 0
  width: 0
  opacity: 0
  text-transform: uppercase


#command-line,
#question-command-line
  display: block
  overflow: hidden
  
#command,
#question-command
  float: left
  white-space: pre
  text-transform: uppercase

#caret,
#question-caret
  float: left
  width: 5px
  height: $font-size-basic
  background: $color-white
  opacity: 0
  animation: blink 1s infinite linear
  
@keyframes blink
  0% 
    opacity: 0
  49% 
    opacity: 0
  50% 
    opacity: 1
  100% 
    opacity: 1

// CONVERSATION FORM
.conversation

  #custom-form
    text-transform: uppercase

    input[type="radio"]
      opacity: 0
      width: 0
      height: 0

    label:before
      content: '>'
      padding: 0 5px
      opacity: 0

    input[type="radio"]:checked + label:before
      opacity: 1

.conversation,
.question
  #command-line
    display: none
  
// FOOTER

#footer
  width: 100%


// MEDIA QUERIES

@media screen and (max-width: 600px)
  .container
    width: 90%
